/*** NewFile.aspx ***/
#left-side-new-guard-location {
    width: 310px;
    margin-top: 25px;
    padding-left: 80px;
    float: left;
}
    #guard-location-root {    
        margin-left: 20px;
        margin-top: 10px;
    }

    [id*=txtFileName] { float: left; }

    [id*=ibtnNextFile],
    [id*=ibtnEditFile] {
         margin: 5px;
         float: right;
    }

    #add-guard-location {
        position: relative;
        height: 230px;
    }

        [id*=txtFolderName] {
            margin: 10px;
            margin-left: 20px;
            margin-bottom: 20px;
        }

        [id*=rblFolderType] {
            margin-left: 30px;
        }

        #divFolderType {
            margin-left: 15px;
        }

        .LabelText {
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 13px;
        }

        #btn-add {
            position: absolute;
            bottom: 0;
            right: 0;
        }

#right-side {
    width: 458px;
    margin-top: 25px;
    float: right;
}

.FileTreeView {
    margin: 0 auto;
    height: 275px;
    width: 300px;
}

.divTreeview {
    height: 245px;
    overflow: auto;
    padding-top: 0;
    width: 305px;
}
    .TreeViewBox > div { padding: 10px; }

    .TreeViewBox { border: 1px solid #FF931E !important; }

    .TreeViewBox > h3 { 
        border-bottom: 1px solid #FF931E !important;
        font-size: 15px !important;
    }

#btn-concluir {
    position: absolute;
    bottom: 15px;
    right: 79px;
}

    #btn-concluir > input[type="submit"] { 
        padding-left: 4.6em !important;
        padding-right: 4.6em !important;
    }

#btn-remove {
    position: absolute;
    bottom: 15px;
    right: 269px;
}

     #btn-remove > input[type="submit"] { 
        padding-left: 2em !important;
        padding-right: 2em !important;
    }

    input[type="submit"]:disabled {
        background-color: #6A6565;
        border: 1px solid #6A6565;
        cursor: no-drop;
    }

input[type="text"]:disabled {
    border-color: #c9c9c9;
}

/*** ManageFiles.aspx ***/
#cabecalho_titulo {
    margin-left: -2px;
    width: 1030px;
    position: absolute;
}

#cabecalho_fechar {
    float: right;
    margin: 16px 12px 0 0;
    width: 15px;
    height: 15px;
    position: relative;
}

.header_user {
    width: 100%;
    height: 40px;
    position: relative;
}

.ibtncreatefile {
    position: absolute;
    top: 0;
    height: 32px;
}

.imginformacao {
    position: absolute;
    top: 4px;
    height: 24px;
    right: 230px;
}

.lblArquivos {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #999999;
    background-color: White;
    position: absolute;
    top: 4px;
    color: #333;
    font-family: Century Gothic;
    height: 16px;
    width: 150px;
    padding: 5px 7px 5px 7px;
    text-align: center;
    right: 20%;
    behavior: url(../arquivos/stylesPIE-1.0.0/PIE.htc);
}

.lblDocumentos {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: White;
    position: absolute;
    top: 4px;
    color: #333;
    font-family: Century Gothic;
    height: 16px;
    width: 150px;
    padding: 5px 7px 5px 7px;
    text-align: center;
    right: 0;
    behavior: url(../arquivos/stylesPIE-1.0.0/PIE.htc);
}

#grid-position {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #999999;
    border-radius: 15px;
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    behavior: url(../arquivos/stylesPIE-1.0.0/PIE.htc);
}

    #grid-position table {
        width: 100%;
    }

[id*=gvStorageLocations] tr:first-child {
    background-color: #fff !important;
    border-bottom: 1px solid #999999 !important;
} 

.grid {
    clear: both;
    overflow: auto;
    font-family: Century Gothic;
}

.gridtitulo {
    float: left;
    width: 72%;
    text-align: center;
}

.gridtitulo2 {
    float: left;
    width: 28%;
}

.titulo {
    margin-top: 0px;
    text-align: center;
    border-width: 1px;
    border-style: none none solid none;
    border-color: #999999;
    font-size: 14px;
    color: #4682B4;
    font-family: Century Gothic;
}

.tabela {
    vertical-align: middle;
    height: 286px;
    border: 1px solid #FFF;
    border-radius: 15px;
}

#gvFiles {
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    overflow: auto;
    max-height: 80%;
    border-radius: 20px;
}

[id*=gvFiles]{
    width: 100%;
}

[id*=gvFiles] tr:first-child {
    background-color: #fff !important;
    border-bottom: 1px solid #999999 !important;
}

th {
    border-top-color: #FF931e;
    height: 15px;
    border-color: transparent;
    color: #4682B4;
    text-align: center;
}

td {
    border-color: transparent;
    color: #333;
    height: 15px;
    text-align: center;
    border-left-color: #FF931e;
}

.textolistas td {
    text-align: left !important;
}

.ibtnGrid {
    padding: 0 4px 0 4px;
}

    .ibtnGrid > img {
        border: none;
    }

/***Common NewFile | EditFile***/

#divBotaoMover, #pnlBotaoMover {
    left: 643px;
    margin: 15px 0 0;
    position: absolute;
    width: 65px;
}

#divBotaoConcluir, #pnlBotaoConcluir {
    position: absolute;
    width: 80px;
    margin: 15px 0 0 602px;
}

.pnlMover {
    height: 262px;
    width: 300px;
    margin: -282px 10px 0 0;
    float: right;
}

.espacobotoesAcaoPrimeiro {
    margin-top: 20px;
}

.espacobotoesAcao {
    margin-top: 14px;
}

.descricao {
    position: absolute;
    border: 1px solid #FF931E;
    padding: 5px;
    width: 180px;
    height: 105px;
    margin: 165px 0 0 -5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
}

.textotreeview {
    margin: -5px 0 0 2px;
}

    .textotreeview a {
        color: #231f20 !important;
        font-family: Century Gothic;
        font-size: 12px;
    }

.labeltitle {
    margin: -5px 0 0 -5px;
    font-size: 15px;
    color: #4682B4;
    font-family: Century Gothic;
    border-bottom: 1px solid #FF931E;
    width: 300px;
    text-align: center;
    padding: 5px;
}


.label {
    font-size: 15px;
    color: #4682B4;
    margin-left: -10px;
}

.drop {
    font-family: Century Gothic;
    background: #fff;
    font-size: 13px;
    color: #4682B4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    position: relative;
    border: 1px solid #FF931E;
    border-radius: 6px;
    padding: 5px;
    top: 0 !important;
    visibility: visible !important;
}

.alinhabotao {
    margin: -30px 0 0 211px;
    width: 95px;
}

.alinhabotaocustom {
    margin: -30px 0 0 203px;
    width: 95px;
}


/*** NewFile.aspx ***/

/***Common NewFile***/
#left-tab {
    margin: 0px 10px 10px 10px;
    width: 220px;
    float: left;
}


/*css painel file  */


#right-side-file {
    float: right;
    margin: -70px 0px 0px 188px;
    width: 300px;
}

#bottom-side-file {
    position: absolute;
    border: 1px solid #FF931E;
    padding: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #fff;
    clear: both;
    float: right;
    height: 185px;
    top: 115px;
    left: 206px;
    width: 675px;
}

#description {
    margin: 35px 20px 20px 20px;
}

#left-side {
    margin: 15px 0 0 30px;
    width: 100px;
    float: left;
}

#center-file {
    margin: -11px 10px 10px 15px;
    width: 220px;
    float: left;
}

.conteudo {
    position: absolute;
    border: 1px solid #FF931E;
    padding: 5px;
    width: 180px;
    height: 100px;
    margin: 40px 0 0 -5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
}

.conteudo1 {
    position: absolute;
    border: 1px solid #FF931E;
    padding: 5px;
    width: 180px;
    height: 100px;
    margin: 155px 0 0 -5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
}

#button {
    width: 50px;
    margin: 150px 0 0 590px;
}
/*final do css painel file*/

/*css painel catalog*/

#right-catalogs-tab {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    border: 1px solid #FF931E;
    border-radius: 15px;
    height: 275px;
    padding: 5px;
    width: 300px;
    right: 13px;
    float: right;
    top: 15px;
}

    #right-catalogs-tab > table {
        margin: -15px 0 0 -40px;
    }

#bottons-catalogs-tab {
    clear: both;
    position: absolute;
    left: 440px;
    top: 120px;
}

#bottons-catalogs-tab-Aw {
    clear: both;
    position: absolute;
    left: 545px;
    top: 125px;
}

.button-next-file {
    position: absolute;
    top: 211px;
    left: 600px;
    margin: 0px !important;
}

.button-next {
    position: absolute;
    top: 330px;
    left: 819px;
}

#button-next {
    position: absolute;
    top: 330px;
    left: 620px;
}
/*final do css painel catalog*/

/*css painel volume*/
#right-volumes-tab {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: relative;
    border: 1px solid #FF931E;
    border-radius: 15px;
    float: right;
    height: 275px;
    margin: 17px 12px 10px 0;
    padding: 5px;
    width: 300px;
}

#bottons-volumes-tab {
    clear: both;
    float: right;
    margin: -240px 375px 0 0;
}

#bottons-volumes-tab-Aw {
    clear: both;
    float: right;
    margin: -234px 342px 0 0;
}
/*final do css painel volume*/

/*css painel Processos*/
#right-process-tab {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: relative;
    border: 1px solid #FF931E;
    border-radius: 15px;
    float: right;
    height: 275px;
    margin: 10px 12px 10px 0;
    padding: 5px;
    width: 300px;
}

    #right-process-tab > table {
        margin: -15px 0 0 -40px;
    }

#bottons-process-tab {
    clear: both;
    float: right;
    margin: -245px 375px 0 0;
}

#bottons-process-tab-Aw {
    clear: both;
    float: right;
    margin: -240px 342px 0 0;
}
/*final do css painel Processos*/

/*inicio do css estrutura customizada*/
#titleCustom {
    margin: -20px 0px 5px 10px;
    width: 220px;
    float: left;
}

.divTvFolder {
    height: 225px;
    overflow: auto;
    padding-top: 0;
    width: 305px;
    margin: 0;
}

.folderChoice {
    font-size: 15px;
    color: #4682B4;
    font-family: Century Gothic;
}

.rblFolderType {
    margin-left: -10px;
}

#buttons {
    float: left;
    margin: -98px 300px 10px 200px;
    width: 100px;
}

.ibtnAddFolder {
    margin-left: 35px;
}

.ibtnDelFolder {
    margin-top: 0px;
}

.imgArrowAdd {
    margin-left: 406px;
    margin-top: 2px;
}

.imgArrowDel {
    margin-left: 406px;
    margin-top: 14px;
}

#setas {
    float: left;
    margin: -95px 0 0 -70px;
    width: 100px;
}

#right-folder-tab {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    border: 1px solid #FF931E;
    border-radius: 15px;
    float: right;
    height: 260px;
    margin: 38px 15px 0 370px;
    padding: 5px;
    width: 300px;
}

#informationBox {
    float: left;
    margin: 230px 0 0 7px;
    width: 310px;
    height: 95px;
    border-radius: 10px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: absolute;
    border: 1px solid #FF931E;
    padding: 10px 5px 5px 5px;
}

/*** EditFile.aspx ***/

/*** File Tab ***/
#divEstruturaAtualizada {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    border: 1px solid #FF931E;
    border-radius: 15px;
    height: 230px;
    padding: 5px;
    width: 300px;
    margin: 10px 0 0 0;
    top: 45px;
}

#divEstrutura {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    border: 1px solid #FF931E;
    border-radius: 15px;
    height: 230px;
    padding: 5px;
    width: 300px;
    float: left;
    margin: 12px 0;
    left: 10px;
}

.lblEditando {
    color: #404040;
    font-size: 11px;
    margin: -11px 0 -6px 15px;
    width: 300px;
}

.divTvEstrutura {
    overflow: auto;
    height: 199px;
    width: 305px;
}

#divBotoesAcao {
    margin: 15px 0 0 350px;
    width: 40px;
}

.divMenuAcoes {
    height: 193px;
    width: 280px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    border: 1px solid #FF931E;
    border-radius: 15px;
    padding: 5px;
}

.pnlRenomear {
    margin: -275px 0 0 405px;
    position: absolute;
}

.pnlAdd {
    margin: -275px 0 0 405px;
    position: absolute;
}

.pnlAddCustomPadrao {
    margin: -288px 0 0 746px;
    position: absolute;
    background-color: #F5F5F5;
    width: 110px;
    height: 32px;
    filter: alpha(opacity=20);
    opacity: .5;
    z-index: 1;
}

.pnlAddCustom {
    margin: -315px 0 0 410px;
    position: absolute;
}

.pnlMenuAcoes {
    height: 150px;
    left: 410px;
    margin: -204px 0 0;
    position: absolute;
    width: 235px;
}

.pnlMudaPasta {
    position: absolute;
    width: 30px;
    height: 30px;
}

/*** Document Tab ***/
#divLstDocumentos td {
    font-size: 12px;
}

.textolistas {
    color: #231f20;
    font-family: Century Gothic;
    font-size: 12px;
}

#divArquivo {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    border: 1px solid #FF931E;
    border-radius: 15px;
    height: 240px;
    padding: 5px;
    width: 185px;
    margin: 18px 0;
    left: 10px;
}

.divTvArquivo {
    overflow: auto;
    width: 190px;
    height: 199px;
}

.divLstDocumentos {
    overflow: auto;
    width: 190px;
    height: 210px;
}

.divTvArquivoDestino {
    height: 178px;
    overflow: auto;
    width: 190px;
}

#divDocumentos {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    border: 1px solid #FF931E;
    border-radius: 15px;
    height: 240px;
    padding: 5px;
    width: 185px;
    margin: 18px 0;
    left: 220px;
}

#divBotoesAcaoDocumentos {
    margin: 30px 0;
    width: 40px;
    left: 438px;
    position: absolute;
}

.labelcabecalhodivdoc {
    margin: -5px 0 0 -5px;
    font-size: 15px;
    color: #4682B4;
    font-family: Century Gothic;
    border-bottom: 1px solid #FF931E;
    width: 185px;
    text-align: center;
    padding: 5px;
}

.divMenuAcoesDocumentos {
    height: 200px;
    width: 185px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    border: 1px solid #FF931E;
    border-radius: 15px;
    padding: 5px;
    left: 0px;
}

.pnlMenuAcoesDocumentos {
    left: 500px;
    position: absolute;
    margin: 18px 0;
}

.pnlRenomearDocumentos {
    position: absolute;
    left: 400px;
    top: 5px;
}

.pnlMoverDocumentos {
    height: 240px;
    left: 510px;
    margin: 18px 0;
    position: absolute;
    width: 200px;
}

#divEstruturaAtualizadaDocumentos {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #FF931E;
    border-radius: 15px;
    height: 210px;
    margin: 5px 0 0;
    overflow: auto;
    padding: 5px;
    position: absolute;
    width: 185px;
}

#divBotaoMoverDocumentos, #pnlBotaoMoverDocumentos {
    left: 628px;
    position: absolute;
    top: 320px;
    width: 65px;
}

#divBotaoConcluirDocumentos, #pnlBotaoConcluirDocumentos {
    position: absolute;
    width: 80px;
    margin: 80px 0 0 603px;
}


/*DIV Modal aberta */
/*PREVIEW*/
.pnlModalInformation {
    width: 519px;
    height: 97%;
    overflow: scroll;
    padding: 0.5em;
    position: absolute;
    background-color: #EEE9E9;
}

.form-container-DocumentList {
    background-color: rgba(255,255,255,0.7);
    border: 8px solid rgba(0,0,0,0.3);
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
    height: 80%;
    width: 530px;
    margin: auto;
    position: relative;
    left: 50%;
    margin-left: -275px;
    position: fixed;
    top: 56px;
}

.thumbnail {
    border: 1px solid #000000 !important;
}
/*PREVIEW*/

.ibtnClose {
    float: right;
    position: relative;
    margin: -22px;
}

.espacoModal {
    margin-bottom: 5px;
}

.labelTitle {
    color: #FF6600;
    /*color: #000000;*/
    display: block;
    font-family: century gothic;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

/*.pnlModalInformation
{
    height: 390px;
    width: 540px;
    overflow: auto;
    position: relative;
    background-color: #EEE9E9;
    padding: 0.5em;
    text-align:justify;
}

.form-container-DocumentList
{
    background-color: rgba(255,255,255,0.7);
    border: 8px solid rgba(0,0,0,0.3);
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
    height: 309px;
   /* height: 400px;*/
/*width: 550px;
    margin: auto;
    position: relative;
}*/

.labelModalResult {
    color: #000000;
    display: block;
    font-family: century gothic;
    font-size: 13px;
    margin-left: 3px;
    padding-left: 230px;
}

.labelModal {
    color: #000000;
    display: block;
    float: left;
    font-family: century gothic;
    font-size: 13px;
    font-weight: bold;
    margin-left: 25px;
}

.span-title {
    color: #4682B4;
    font-size: 14px;
    font-weight: bold;
}

.span-structure {
    color: #333333;
    font-size: 12px;
}

.div-items {
    color: #333333;
    font-size: 12px;
    margin-left: 20px;
}
