/** login.master **/

* {
    behavior: url("../arquivos/scripts/plugins/PIE-1.0.0/PIE.htc");
}

html, body, form {
    margin: 0;
    padding: 0;
    height: 100%;  
}

body {
    background: #f9f9f9;
    font-family: Century Gothic;
}

#page-container {  
    min-height: 600px;
    height: 100%;
    min-width: 100%;
    float: left;
    background: transparent url("../arquivos/img/Login/rodape.png") repeat-x left bottom;
}

#centered-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 940px;
}

#main-container {
    position: absolute;
    top: 0;
    bottom: 70px;
    width: 100%; 
}

#content-container {    
    position: absolute;
    top: 50%;
    margin: -150px 0 0;
    height: 300px;
    width: 100%;
}

#title {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 50px;
    width: 340px;
}

#main {
    height: 300px;
}