#header-items {
    width: 68%;
}

#header-menu {
    display: block;
}

 #header-menu .menu ul li.static:nth-child(-n+2) a .static .menu-item-text {
	display: none;
}

input[id*="txtSearch"] {
    width: 160px;
}

input[id*="txtSearchSimplified"] {
   width: 315px !important;
}
