#header-items {
    width: 68%;
}

#header-menu {
    display: block;
}

 #header-menu .menu ul li.static:nth-child(-n+2) a .static .menu-item-text {
	display: none;
}

#search-bar input[id*="txtSearch"] {
    width: 160px;
}

#search-bar-simplified input[id*="txtSearchSimplified"] {
    width: 315px;
}
