#divSettingsMenu {
    position: relative;
    font-size: 13px;
}

#divSettingsMenu > div {
    border-radius: 3px;
    height: 115px !important;
}

table.SettingsMenuItem td {
    border-radius: 2px;
    padding: 5px 20px 5px 5px;
    background: #fff;
}

a.SettingsMenu, a.SettingsMenuItem {
    color: inherit !important;
}

.SettingsMenuItem img {
    margin-right: 10px;
}