#responsivegridsystem #commands, #commands {
        float: left;
        margin-left: 40px;
    }

#responsivegridsystem .buttonEmail, .buttonEmail {
        float: left;
        margin-left: 0px;
    }