#form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -215px 0 0 -470px;
    height: 430px;
    width: 940px;
    background: transparent url("../arquivos/img/Common/FormFooter.png") no-repeat left bottom;
    font-family: Century Gothic !important;
    color: #4682b4;
    z-index: 11;
}

    #form-container > h1 {
        position: relative;
        margin: 0;
        padding: 0;
        height: 40px;
    }

        #form-container > h1 > .close-button {
            position: absolute;
            top: 50%;
            right: 15px;
            margin: -6px 0 0;
        }

.content-form-container {
    position: absolute;
    top: 40px;
    bottom: 15px;
    left: 0;
    right: 0;
    border-left: 2px solid #d0d0d0;
    border-right: 2px solid #d0d0d0;
    background: #f5f5f5;
}

.content-form {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 10px;
    right: 10px;
}

.control-form {
    margin: auto;
    width: 100%;
}

#vtab {
    position: absolute;
    top: 0;
    bottom: 0;
    /*margin: 0 auto;*/
    /*border: 1px solid #ccc;*/
    width: 100%;
}

#tabs {
    position: absolute;
    top: 0;
    bottom: 0;
    /*margin: 0 auto;*/
    /*border: 1px solid #ccc;*/
    width: 100%;
}


li.InfoBox {
    position: absolute;
    bottom: -8px;
    border: 1px solid #ffa44e;
    border-radius: 12px;
    height: 100px !important;
    background: #fff;
}

.TabTitle {
    margin: 8px 0 0;
    color: #f15a24;
}

.InfoBoxTitle {
    margin: 12px 0 0;
    padding-left: 10px;
    color: #f15a24;
}

/*NewFile*/
.InfoBoxImage {
    margin: 20px 10px 0;
    position: absolute;
    margin-left: 60px;
    margin-top: 30px;
}

.FormActions {
    position: absolute;
    right: 10px;
    bottom: 0;
}

#htab {
    position: absolute;
    top: -15px;
    bottom: 0;
    margin: 0 auto;
    /*border: 1px solid #ccc;*/
    width: 910px;
}

    #htab > ul {
        margin: -5px 142px 0 0;
        /*border-right: 1px solid #4a7ebb;*/
        padding: 0;
        height: 35px;
        width: 250px;
        float: right;
    }

        #htab > ul > li {
            margin: -34px 0 0 0;
            height: 34px;
            width: 100px;
            list-style-type: none;
        }

/* não sei onde é aplicado esses estilos */

.grid-position {
    position: absolute;
    top: 20px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: 0px;
    background: #fff;
}

.page-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #F2F2F2;
    margin: 20px 0;
    border: 1px solid #000;
    height: 100%;
    width: 100%;
}

.page-content {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #FFF;
    border: 1px solid #000;
    width: 98%;
    height: 85%;
    margin: 0 auto;
}

.links, .labels {
    padding-left: 20px;
    font-size: 13px;
    color: Black;
}

/*//-----------------------------//*/

#header-title {
    font-weight: normal;
    color: #21409A;
}

#commands {
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -17em;
    margin-top: -39px;
}

.text {
    margin-top: 23px;
    margin-left: 67px;
    margin-right: -59px;
    font-style: italic;
    border: 1px solid #ff9f3a;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 3px 5px;
    /*box-shadow: 0px 1px 6px #ccc;*/
    outline: none;
    display: inline;
    font-size: 15px;
    margin-bottom: 10px;
    display: inline;
}

.spText {
    display: block;
    font-style: italic;
    font-size: 12px;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border: 1px solid #5d7695;
    background-color: #ffb86e;
}

.w30 {
    width: 30px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.w200 {
    width: 200px;
}

.w250 {
    width: 250px;
}

.w265 {
    width: 265px;
}

.w300 {
    width: 300px;
}

/*  BUTTONS  ============================================================================= */

.buttonEnabled, .buttonDisabled {
    color: #fff;
    font-size: 14px;
    padding: 6px 12px;
    margin-right: 15px;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 2px rgba(49,57,63,.4), 0 1px 0 rgba(255,255,255,.3) inset;
    -webkit-box-shadow: 0 1px 2px rgba(49,57,63,.4), 0 1px 0 rgba(255,255,255,.3) inset;
    box-shadow: 0 1px 2px rgba(49,57,63,.4), 0 1px 0 rgba(255,255,255,.3) inset;
}

.buttonEnabled {
    background: #2357a5 url(../arquivos/stylescentral-administration/responsivegridsystem/images/glass.png) repeat-x 0 50%;
    border: 1px solid #2357a5; /*#27277a;*/
}

    .buttonEnabled:hover {
        background: #ff6600 url(../arquivos/stylescentral-administration/responsivegridsystem/images/glass.png) repeat-x 0 50%;
        border: 1px solid #fc893c;
    }

    .buttonDisabled, .button[disabled="disabled"]:active {
        background: #c0c0c0 url(../arquivos/stylescentral-administration/responsivegridsystem/images/glass2.png) repeat-x 0 50%;
        border: 1px solid #ccc;
        top: 0;
        
    }

input[type="submit"] {
    text-shadow: none;
}

.buttonActive {
    margin: 20px 50px 0 -20px;
    background: #293094;
    color: #ffffff;
    font-size: 12px;
    border: 1px solid #1A1E5F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    /* border-radius: 2px; */
    float: right;
}

.date-form {
    margin: 0;
    width: 44%;
}

.calendar {
    /* height: 28px; */
    /* background-color: antiquewhite; */
    width: 100%;
    /* border: none; */
    /* position: absolute; */
    margin: 5px 80px;
}

#results {
    margin: -35px 642px;
    width: 180px;
    display: block;
}

.lblStyle {
    font-size: 13px;
    display: block;
    color: black;
    padding: 4px;
}

/*GRIDVIEW*/

#grid-position {
    float: left;
    width: 90%;
    left: 62px;
    top: 185px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #FF931e;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    background-color: #FFF;
    overflow: auto;
    behavior: url(../arquivos/stylesPIE-1.0.0/PIE.htc);
}

#titulo {
    width: 916px;
}

/*#plano-fundo
{
    background-color:#363636;
    position:absolute;
    left:80px;
    right:28%;
    top:0px;
    bottom:0px;
    filter:alpha(opacity=20);
    opacity:.1;
}*/

.grid {
    width: 100%;
    clear: both;
    overflow: auto;
    font-family: Century Gothic;
    color: black;
}

.gridtitulo {
    width: 100%;
    text-align: center;
}

.gridtitulo2 {
    float: left;
    width: 28%;
}

.titulo {
    margin-top: 0px;
    text-align: center;
    border-width: 1px;
    border-style: none none solid none;
    border-color: #FF931e;
    font-size: 14px;
    color: #4682B4;
    font-family: Century Gothic;
}

.tabelagrid {
    vertical-align: middle;
    height: 286px;
    border: 1px solid #FFF;
}

th {
    border-top-color: #FF931e;
    height: 15px;
    border-color: transparent;
    color: #4682B4;
    text-align: center;
}

td {
    border-color: transparent;
    /*color: #333;*/
    height: 15px;
    text-align: center;
    /*border-left-color:#FF931e;*/
    width: 100px;
}

.ibtnGrid {
    padding: 0 4px 0 4px;
}

    .ibtnGrid > img {
        border: none;
    }

#gvReports {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #FF931e;
    border-radius: 15px;
    position: absolute;
    top: 166px;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    height: 200px;
}

/* Firefox only. 1+ */
.calendar, x:-moz-any-link {
    margin: 5px 80px;
    width: 290px;
}

/* Firefox 3.0+ */
.calendar, x:-moz-any-link, x:default {
    margin: 5px 80px;
    width: 290px;
}

/* FF 3.5+ */
body:not(:-moz-handler-blocked) .calendar {
    margin: 5px 80px;
    width: 290px;
}

#results {
    margin: -7% 63%;
    /* float: right; */
    /* position: absolute; */
    width: 28%;
    /* left: 272px; */
    height: 130px;
    background-color: whitesmoke;
    padding: 10px;
    border: 1px solid #E2E2E2;
    border-radius: 15px;
    behavior: url(../arquivos/stylesPIE-1.0.0/PIE.htc);
}

#resultsLeft {
    width: 200px;
    height: 60px;
    float: left;
}

#resultsRight {
    /* width: 200px; */
    margin-left: 200px;
}

.lblResults {
    font-size: 14px;
    color: black;
    font-weight: bold;
    display: block;
}

#content {
    background: none;
}

.ddlstyle {
    width: 152px;
    margin: 13px 10px 0px 67px;
    font-size: 12px;
    font-family: Century Gothic;
    background: #fff;
    color: #4682B4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    position: relative;
    border: 1px solid #FF931E;
    border-radius: 6px;
    padding: 5px;
    behavior: url(../arquivos/stylesPIE-1.0.0/PIE.htc);
}

/*--- MEDIA SCREEN ---*/

@media screen and (min-width: 1441px) {
    .date-form {
        width: 50em;
    }

    #results {
        margin: -4% 63%;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1280px) {
    #commands {
        margin-left: -11em;
    }

    #results {
        margin: -7% 66%;
        height: 123px;
    }
}


@media screen and (min-width: 786px) and (max-width: 1099px) {
    #results {
        margin: -12% 57%;
        width: 26em;
    }

    .date-form {
        margin: 0;
        width: 42em;
    }

    #grid-position {
        top: 293px;
    }

    #commands {
        position: absolute;
        left: 23em;
        top: 16em;
    }

    #grid-position {
        top: 200px;
    }
}

@media screen and (min-width: 660px) and (max-width: 785px) {
    .calendar {
        margin: 0px;
    }

    .text {
        margin-left: 5px;
        margin-right: -2px;
    }

    .w140 {
        width: 120px;
    }

    .ddlstyle {
        width: 131px;
        margin: 13px 10px 0px 5px;
    }

    #commands {
        position: absolute;
        left: 0%;
        top: 24em;
        margin-left: 0px;
        margin-top: -128px;
    }

    #results {
        margin: -17% 50%;
        width: 25.3em;
    }

    .date-form {
        margin: 0;
        width: 50%;
    }

    #grid-position {
        left: 30px;
    }
}

@media screen and (min-width: 606px) and (max-width: 659px) {
    .date-form {
        margin: 0;
        width: 100%;
    }

    #results {
        margin: 9.5% 27%;
        width: 26em;
    }

    #grid-position {
        width: 88%;
        top: 320px;
    }

    #commands {
        position: relative;
        left: 50%;
        top: 8em;
        margin-left: -17em;
        margin-top: -39px;
    }
}

@media screen and (min-width: 479px) and (max-width: 605px) {
    #grid-position {
        width: 85%;
        top: 30em;
    }

    .date-form {
        margin: 0;
        width: 115%;
    }

    #commands {
        position: relative;
        left: 25em;
        top: 8em;
        margin-left: -17em;
        margin-top: -39px;
    }

    #results {
        margin: 11.5% 15%;
        width: 30em;
    }
}

@media screen and (max-width: 478px) {
    #grid-position {
        left: 30px;
    }

    .calendar {
        margin: 0px;
    }

    .date-form {
        margin: 0;
        width: 30em;
    }

    .text {
        margin-left: 0px;
        margin-right: 2px;
    }

    .ddlstyle {
        width: 152px;
        margin: 0px;
    }

    #commands {
        position: absolute;
        left: 17em;
        top: 150px;
        margin-left: -17em;
        /* margin-top: -12em; */
    }

    #results {
        margin: 13% -1%;
        width: 27em;
    }

    #grid-position {
        width: 88%;
        left: 29px;
        top: 29em;
    }
}

@media screen and (min-width: 418px) and (max-width: 435px) {
    .calendar {
        margin: 0px;
    }

    .date-form {
        width: 88%;
        margin: 0;
    }

    .text {
        margin-left: 0px;
        margin-right: 0px;
    }

    .ddlstyle {
        margin: 0px 5px;
        width: 142px;
    }

    .w140 {
        width: 127px;
    }

    #commands {
        position: absolute;
        left: 62%;
        top: 15em;
    }

    #results {
        margin: 20% 0%;
        /* float: right; */
        /* position: absolute; */
        width: 95%;
    }

    #grid-position {
        width: 100%;
        left: 0px;
        top: 325px;
    }
}
