#default-indexes-option { padding: 15px 20px 0 20px; }

    .label-default-indexes-option { font-size: 16px; }

    [id*=upDefaultIndexesOption]
     {  
        padding-top: 15px;
        padding-left: 15px;
        font-size: 14px;
    }

#save-button
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 15px;
    margin-right: 20px;
}

    .saveButton
    {
  
        color: #fff;
        font-size: 14px;
        padding: 6px 12px;

        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        -moz-box-shadow: 0 1px 2px rgba(49,57,63,.4), 0 1px 0 rgba(255,255,255,.3) inset;
        -webkit-box-shadow: 0 1px 2px rgba(49,57,63,.4), 0 1px 0 rgba(255,255,255,.3) inset;
        box-shadow: 0 1px 2px rgba(49,57,63,.4), 0 1px 0 rgba(255,255,255,.3) inset;
    }

    .saveButton {
        background: #2357a5 url(../arquivos/stylescentral-administration/responsivegridsystem/images/glass.png) repeat-x 0 50%;
        border: 1px solid #2357a5; /*#27277a;*/
    }

        .saveButton:hover {
            background: #ff6600 url(../arquivos/stylescentral-administration/responsivegridsystem/images/glass.png) repeat-x 0 50%;
            border: 1px solid #fc893c;
        }
